<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>What U Want - 왓츄원</title>

    <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/minty/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" ></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" ></script>
    <script src="https://kit.fontawesome.com/5ac56ffa94.js"></script>

    <link rel="stylesheet" href="{%static 'css/base.css'%}">
    <link rel="stylesheet" href="{%static 'css/index.css'%}">


    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>

    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="{%url 'index'%}" id="logo">왓츄원</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarNav">
            <ul class="navbar-nav ml-auto">
                {%if user.is_authenticated%}
                <li class="nav-item ">
                    <form id="signout" style="display: inline;" action="{%url 'logout'%}" method="POST">
                        {%csrf_token%}
                        <a class="nav-link nav-text" href="javascript:void(0)" onclick="signout()" data-display="static">
                            로그아웃
                        </a>
                    </form>
                </li>
                {% else %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle nav-text" href="javascript:void(0)" data-toggle="dropdown"
                        data-display="static" onclick="alert('회원가입을 하면 더 다양한 서비스를 이용할 수 있어요!');" style="cursor:pointer">
                        회원가입
                    </a>
                    <div class="dropdown-menu dropdown-menu-lg-right" style="padding:1em;">
                        <form action="{%url 'signup'%}" method="POST">
                            {%csrf_token%}
                            <div class="form-group">
                                <input type="text" class="form-control" id="exampleInputEmail1" name="username"
                                    aria-describedby="emailHelp" placeholder="Username" size='50'>
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" id="exampleInputEmail1" name="password"
                                    aria-describedby="emailHelp" placeholder="Password" size='50'>
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" id="exampleInputEmail1" name="password2"
                                    aria-describedby="emailHelp" placeholder="Password_Check" size='50'>
                            </div>
                            <button type="submit" class="btn btn-primary">회원가입</button>
                        </form>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle nav-text" href="javascript:void(0)" data-toggle="dropdown"
                        data-display="static">
                        로그인
                    </a>
                    <div class="dropdown-menu dropdown-menu-lg-right" style="padding:1em;">
                        <form action="{%url 'login'%}" method="post">
                            {%csrf_token%}
                            <div class="form-group">
                                <input type="text" class="form-control" id="exampleInputEmail1" name="username"
                                    aria-describedby="emailHelp" placeholder="Username">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" id="exampleInputPassword1" name="password"
                                    placeholder="Password">
                            </div>
                            <input type="submit" class="btn btn-primary" value="로그인"></input>
                        </form>
                    </div>
                </li>
                {% endif %}
                <a class="nav-link nav-text" href="javascript:void(0)" onclick="showPopup();">신작</a>
            </ul>
        </div>
    </nav>
    <div class="container">
        {%block content%}
        {%endblock%}
    </div>
    {%if user.is_authenticated%}
    <div align="right">
        <ul class="sticky-social-bar">
            <li class="social-icon">
                <a href="{%url 'cart' user.id %}">
                    <i class="fa fas fa-shopping-basket"></i>
                    <span class="social-icon-text">장바구니</span>
                </a>
            </li>
        </ul>
    </div>
    {% endif %} 

    
<!-- 스르륵 기능 시작 -->
    <a href="#" class="top"><button class="btn btn-danger">Top</button></a>

    <script>
        $( document ).ready( function() {
        $( window ).scroll( function() {
            if ( $( this ).scrollTop() > 200 ) {
            $( '.top' ).fadeIn();
            } else {
            $( '.top' ).fadeOut();
            }
        } );
        $( '.top' ).click( function() {
            $( 'html, body' ).animate( { scrollTop : 0 }, 400 );
            return false;
        } );
        } );
    </script>
<!-- 요까이 -->

    <script>
        function signout() {
            document.getElementById("signout").submit();
        }
        function showPopup() { window.open("{%url 'fullcalendar'%}", "a", "width=600, height=530, left=100, top=50"); }

    </script> 




    <!-- 검색어 자동완성 scrpits -->
    <script type="text/javascript">

        //<![CDATA[
        
        $(function() {
            var availablemovie = [
            
"밤은 짧아 걸어 아가씨야 ",
"툴리 ",
"스파이더맨: 홈커밍 ",
"1987",
"디서비디언스 ",
"빌로우 허 ",
"인 디 아일 ",
"살인소설 ",
"예수는 역사다 ",
"택시 5 ",
"12 솔져스 ",
"로건 럭키 ",
"더 파티 ",
"흔적 없는 삶 ",
"베이비 드라이버 ",
"살인마 잭의 집 ",
"인 다크니스 ",
"속닥속닥 ",
"온리 더 브레이브 ",
"오두막 ",
"108 : 잠들 수 없는 시간 ",
"아이 필 프리티 ",
"브릭스비 베어 ",
"레토 ",
"궁합 ",
"월요일이 사라졌다 ",
"곤지암 ",
"지금 만나러 갑니다 ",
"당신의 부탁 ",
"안녕, 나의 소녀 ",
"너의 결혼식 ",
"용의 치과의사 ",
"딥 ",
"디트로이트 ",
"밤치기 ",
"세라비, 이것이 인생! ",
"라이즈 위 텔 ",
"다크 웹 ",
"도쿄 좀비 아이돌 ",
"살인자의 기억법 ",
"고스트 하우스 ",
"The Dark Tower ",
"해피 어게인 ",
"타임루프 : 벗어날 수 없는 ",
"건 샤이 ",
"발레리안 : 천 개 행성의 도시 ",
"사경 ",
"레드배드 ",
"더 포스트 ",
"슈퍼 빼꼼: 스파이 대작전 ",
"캡틴 스터비 ",
"창궐 ",
"잃어버린 도시 Z ",
"하트 비트 라우드 ",
"아직 끝나지 않았다 ",
"선생님!... 좋아해도 될까요  ",
"Dead Men ",
"아이, 토냐 ",
"윈드 리버 ",
"Lemon ",
"고스트 스토리 ",
"콜럼버스 ",
"플랫라이너 ",
"판타스틱 우먼 ",
"다이빙벨 그후 ",
"빅 식 ",
"원더스트럭 ",
"어벤저 ",
"더 서클 ",
"애프터매스 ",
"어페어즈 오브 스테이트 ",
"래디우스 ",
"Re-Evolution ",
"Table Manner ",
"신 전래동화 ",
"소림사 2017: 7인의 고수 ",
"뚜르: 내 생애 최고의 49일 ",
"대부업자: 소울 앤 캐시 ",
"마이 피스타치오 ",
"파워배틀 와치카: 와치가면의 역습 ",
"비밀의 안경 ",
"푸른노을 ",
"Some More ",
"라라 ",
"차장님은 연애 중 ",
"해원 ",
"샷 콜러 ",
"로만 J 이스라엘, 에스콰이어 ",
"봄이가도 ",
"킬러의 보디가드 ",
"어른도감 ",
"제미니 ",
"데이브 미로 만들다: 판타스틱 미로 대탈출 ",
"파란만장 청춘! 짐승처럼 가라! ",
"스위밍 위드 맨 ",
"엔테베 작전 ",
"더 바 ",
"스테이션 7 ",
"괜찮아요, 미스터 브래드 ",
"보리 vs 매켄로 ",
"쿠르스크 ",
"내가 죽기 전에 가장 듣고 싶은 말 ",
"주키퍼스 와이프 ",
"겨울왕국의 무민 ",
"장고 인 멜로디 ",
"저스티스 배틀 ",
"파리의 밤이 열리면 ",
"아이 엠 낫 유어 니그로 ",
"더 볼트 ",
"아들의 빈자리 ",
"이모티: 더 무비 ",
"Billy Lynn's Long Halftime Walk ",
"논스톱 플라이트 ",
"세 번째 살인 ",
"러브, 어게인 ",
"케이지 다이브 ",
"Curvature ",
"요묘전: 레전드 오브 더 데몬 캣 ",
"스머프: 비밀의 숲 ",
"그것만이 내 세상 ",
"한밤의 황당한 저주 ",
"미드나잇 선 ",
"잇 컴스 앳 나잇 ",
"허리케인 하이스트 ",
"킹 아서 : 엑스칼리버의 부활 ",
"스파이 게임 ",
"레더페이스 ",
"스카이라인 2 ",
"충격과 공포 ",
"루킹 글라스 ",
"스트라튼 ",
"땡큐 포 유어 서비스 ",
"클레어의 카메라 ",
"올 아이즈 온 미 ",
"삼손 ",
"식스 빌로우 ",
"마이 펫 다이노소어 ",
"더 킹 ",
"풍운대전 ",
"잇 로컬 ",
"슬립리스: 크리미널 나이트 ",
"웨이크필드 ",
"스페이스 워커 ",
"The Little Vampire 3D ",
"그리다 ",
"피드 ",
"오비터 9 ",
"툼 인베이더 ",
"스페이스 치킨: 마법 부적의 비밀 ",
"죄 많은 소녀 ",
"베로니카 ",
"해빙 ",
"벌지대전투 지옥의 사수작전 ",
"맨 프럼 어스2: 홀로신 ",
"덕구 ",
"체스 플레이어 ",
"행성탈출: 최후의 전쟁 ",
"남한산성 ",
"Shattered ",
"스파키 ",
"꼬마참새 리차드: 아프리카 원정대 ",
"미세스 하이드 ",
"배틀크릭 ",
"브레인 온 파이어 ",
"세일즈맨의 전설 ",
"부에나 비스타 소셜 클럽2: 아디오스 ",
"배틀 오브 더 드론 ",
"디지몬 어드벤처 트라이 제5장: 공생 ",
"시크릿 어페어 ",
"오늘도 평화로운 ",
"펭귄 - 위대한 모험 2 ",
"마셜 ",
"모놀리스 ",
"에이리언 컨버전스 ",
"7년의 밤 ",
"런던 타운 ",
"노크: 초대받지 않은 손님 ",
"라 멜로디 ",
"서바이벌 패밀리 ",
"파리 오페라 ",
"언더더씨 ",
"교향시편 에우레카 세븐 : 하이 에볼루션 1 ",
"Dark Meridian ",
"행맨 ",
"거룩한 분노 ",
"마음이 외치고 싶어해 ",
"작전명 비스트 ",
"스톰: 위대한 여정 ",
"마틸다: 황제의 연인 ",
"두 번째 여름, 두 번 다시 만날 수 없는 너",
"몬스터 패밀리 ",
"소녀의 세계 ",
"그래도 좋아해 ",
"블러드 골드 트레저 헌터 ",
"허스토리 ",
"피메일 파이트 클럽 ",
"주전: 와인전쟁 ",
"호박과 마요네즈 ",
"바운더리스 ",
"스텝 바이 스텝 ",
"더 플랜 ",
"앨티튜드 ",
"피터와 모글리의 크리스마스 어드벤처",
"라스트 로빈후드 ",
"리틀 페어런트 ",
"낮잠 공주: 모르는 나의 이야기 ",
"다이빙: 그녀에 빠지다 ",
"베스와 베라 ",
"좀비 대 에일리언 ",
"시간위의 집 ",
"눈꺼풀 ",
"캐시디 레드 ",
"악인들의 도시 ",
"공범자들 ",
"천화 ",
"소나기 ",
"나비잠 ",
"나미야 잡화점의 기적: 또 하나의 이야기",
"로마의 휴일 ",
"아오 오니 ",
"핫 썸머 나이츠 ",
"하이큐!! 콘셉트의 싸움 ",
"아웃도어 비긴즈 ",
"미스터 쉐프 ",
"특별시민 ",
"나미야 잡화점의 기적 ",
"공조 ",
"마이애미 드라이버 ",
"내가 죽기 전에 ",
"후난성 전투 ",
"나이트 라이즈 ",
"버닝 ",
"신과함께-죄와 벌 ",
"지오 쓰나미 ",
"킬링 군터 ",
"Strange Events ",
"A Violent Life ",
"라이프 ",
"수성못 ",
"대장 김창수 ",
"운동회 ",
"콜 ",
"중2라도 괜찮아 ",
"역모 - 반란의 시대 ",
"문호 스트레이독스 [데드 애플] ",
"어느날 ",
"실종: 비밀의 소녀 ",
"올 세인츠 ",
"마야2 ",
"나를 기억해 ",
"마신자 2 - 빨간 옷 소녀의 비밀 ",
"터닝메카드W: 반다인의 비밀 특별판 ",
"내안의 그놈 ",
"로빈슨의 언더워터 어드벤처 ",
"비정규직 특수요원 ",
"땐뽀걸즈 ",
"인 서클 ",
"리즈와 파랑새 ",
"살아남은 아이 ",
"저수지 게임 ",
"유전 ",
"시카리오: 데이 오브 솔다도 ",
"그것: 광대의 저주 ",
"라스트 솔져스 : 최후의 결전 ",
"플로이 ",
"몰리스 게임 ",
"내 사랑 ",
"크리미널 스쿼드 ",
"너와 100번째 사랑 ",
"임금님의 사건수첩 ",
"오 루시! ",
"사라진 밤 ",
"소녀, 하늘을 날다! ",
"더 크리미널 마인드: 공공의 적 ",
"숲속왕국의 꿀벌 여왕 ",
"플로리다 프로젝트 ",
"홍콩 좀비 히어로 ",
"커뮤터 ",
"장산범 ",
"어트랙션 ",
"Battle of Memories ",
"원더 휠 ",
"임을 위한 행진곡 ",
"내 친구 정일우 ",
"릴라와 마법의 책 ",
"뽀로로 극장판: 보물섬 대모험 ",
"택시운전사 ",
"바르다가 사랑한 얼굴들 ",
"어둔 밤 ",
"레슬러 ",
"그들이 진심으로 엮을 때 ",
"머니백 ",
"더 블랙 ",
"원라인 ",
"극장판 헬로카봇: 백악기 시대 ",
"뽀로로 극장판 공룡섬 대모험 ",
"소년 ",
"장기왕: 가락시장 레볼루션 ",
"원스 어폰 어 타임 인 베니스 ",
"한낮의 유성 ",
"쿵푸몽키 ",
"크리미널 섹터 211 ",
"재심 ",
"안시성 ",
"몬스터 섬의 비밀 ",
"보안관 ",
"아이 앰 히스 레저 ",
"나의 마지막 수트 ",
"오버사이즈 캅스 ",
"석조저택 살인사건 ",
"폭력의 씨앗 ",
"피치걸 ",
"기문둔갑 ",
"러빙 빈센트 ",
"원더 ",
"이별의 아침에 약속의 꽃을 장식하자",
"더 리콜 ",
"비밥바룰라 ",
"튼튼이의 모험 ",
"대관람차 ",
"더 사운드 ",
"특수부대 전랑2 ",
"메이즈 ",
"흑집사: 북 오브 더 아틀란틱 ",
"플랜 비 ",
"원더풀 고스트 ",
"나의 연기 워크샵 ",
"오늘의 키라군 ",
"호랑이보다 무서운 겨울손님 ",
"에이리언 어택 2019 ",
"친애하는 우리아이 ",
"은혼2: 규칙은 깨라고 있는 것 ",
"새터데이 처치 ",
"쿵푸 트래블러 : 남권 ",
"블랙 쉐도우 ",
"오즈: 신기한 마법가루 ",
"위시 어폰 ",
"더 미드와이프 ",
"비데블: 저주의 어플 ",
"리틀 포레스트 ",
"유리정원 ",
"나는 아들을 사랑하지 않는다 ",
"아기와 나 ",
"문영 ",
"스틸 리메인즈 ",
"딥 ",
"탐정: 리턴즈 ",
"언싱커블 ",
"주피터스 문 ",
"부라더 ",
"진격의 거인 2기: 각성의 포효 ",
"베드 키즈 오브 크레스트뷰 아카데미",
"툼비루오 ",
"손오공 ",
"카메라를 멈추면 안 돼! ",
"희생부활자 ",
"얼리맨 ",
"하이큐!! 재능과 센스 ",
"아빠는 딸 ",
"더 포리너 ",
"영웅본색4 ",
"120BPM ",
"무쌍 ",
"쿵푸 트래블러 : 북퇴 ",
"로스트 인 파리 ",
"반딧불이 딘딘 ",
"홀로도모르:우크라이나 대학살 ",
"조작된 도시 ",
"바다 탐험대 옥토넛 시즌4: 바다 괴물 대소동 ",
"오목소녀 ",
"풀잎들 ",
"흥부: 글로 세상을 바꾼 자 ",
"록키 블리더 ",
"맨헌트 ",
"용의자X적 헌신 ",
"보통사람 ",
"메나쉬 ",
"칼리 더 킬러 ",
"공작 ",
"나의 서른에게 ",
"투 프렌즈 ",
"선셋 파크 ",
"작년 겨울, 너와 이별 ",
"기동전사 건담 썬더볼트: 밴디트 플라워 ",
"소드 아트 온라인 -오디널·스케일- ",
"양아치 느와르 ",
"나와 봄날의 약속 ",
"눈길 ",
"어떤 하루 ",
"청년경찰 ",
"존 버거의 사계 ",
"Child of Satan ",
"심판자들 ",
"유니콘 원정대: 비밀의 다이어리 ",
"홀로코스트: 소비보르탈출 ",
"Robert Doisneau, le r?volt? du merveilleux ",
"파밍 보이즈 ",
"분장 ",
"School Tales ",
"폴란드로 간 아이들 ",
"Area of Conflict ",
"류이치 사카모토: 에이싱크 ",
"그날, 바다 ",
"네베스타: 유령신부 ",
"길 ",
"열혈남고 ",
"타샤 튜더 ",
"Butterfly ",
"다시 태어나도 우리 ",
"에이리언 어택 2019 ",
"극장판 뚝딱뚝딱 밥아저씨: 메가 머신의 역습 ",
"곤지암 ",
"쿵푸 트래블러 : 남권 ",
"나의 연기 워크샵 ",
"오즈: 신기한 마법가루 ",
"호랑이보다 무서운 겨울손님 ",
"루킹 글라스 ",
"마리안느와 마가렛 ",
"위시 어폰 ",
"블랙 쉐도우 ",
"The Little Vampire 3D ",
"킬러의 보디가드 ",
"공동정범 ",
"디지몬 어드벤처 트라이 제5장: 공생 ",
"나는 아들을 사랑하지 않는다 ",
"7년-그들이 없는 언론 ",
"Kuroko's Basketball: Last Game ",
"문영 ",
"유리정원 ",
"Miss Impossible ",
"일주일간 친구 ",
"Charlotte ",
"노 게임 노 라이프 -제로- ",
"탐정: 리턴즈 ",
"교주전: 천공의 눈 ",
"다영씨 ",
"부라더 ",
"주피터스 문 ",
"나를 차버린 스파이 ",
"딥 ",
"진격의 거인 2기: 각성의 포효 ",
"해빙 ",
"Crazy City ",
"툼비루오 ",
"피의 연대기 ",
"아빠는 딸 ",
"더 포리너 ",
"손오공 ",
"베드 키즈 오브 크레스트뷰 아카데미 ",
"하이큐!! 재능과 센스 ",
"월요일이 사라졌다 ",
"희생부활자 ",
"택시 5 ",
"아이 필 프리티 ",
"Selfie from Hell ",
"더 볼트 ",
"안식처 ",
"무쌍 ",
"5th Passenger ",
"소성리 ",
"라라 ",
"번개맨과 신비의 섬 ",
"나는 고양이로소이다 ",
"런닝맨: 풀룰루의 역습 ",
"디지몬 어드벤처 트라이 : 제4장 상실 ",
"킬링 인 더 무비 ",
"홀로도모르:우크라이나 대학살 ",
"노무현입니다 ",
"쿵푸 트래블러 : 북퇴 ",
"반딧불이 딘딘 ",
"게이트 ",
"스트라튼 ",
"해피 어게인 ",
"엄마의 공책 ",
"예수는 역사다 ",
"작전명 비스트 ",
"미드나잇 선 ",
"겨울왕국의 무민 ",
"Chervonyi ",
"데이빗 보위: 지기 스타더스트 마지막 날들 ",
"용의자X적 헌신 ",
"보통사람 ",
"B급 며느리 ",
"아티스트: 다시 태어나다 ",
"흥부: 글로 세상을 바꾼 자 ",
"풀잎들 ",
"뮤턴트 워 ",
"오목소녀 ",
"벌지대전투 지옥의 사수작전 ",
"페이트/스테이 나이트 [헤븐즈 필] 제1장 프레시지 플라워 ",
"올드마린보이 ",
"데드 스토리 ",
"칼리 더 킬러 ",
"스테이션 7 ",
"세일즈맨의 전설 ",
"데드 스토리 ",
"로건 럭키 ",
"그것만이 내 세상 ",
"치즈인더트랩 ",
"악셀 ",
"속닥속닥 ",
"원스텝 ",
"사랑하기 때문에 ",
"잉글랜드 이즈 마인 ",
"리스펙트 ",
"골든슬럼버 ",
"투 프렌즈 ",
"드래곤 프린세스 ",
"꼬마 보트 토토: 타요 타요 배 타요 ",
"낮잠 공주: 모르는 나의 이야기 ",
"군함도 ",
"패딩턴 2 ",
"선셋 파크 ",
"스톰: 위대한 여정 ",
"정글번치: 최강 악당의 등장 ",

            
            
            ];
        
            $("#city").autocomplete({
        
                source: availablemovie,
        
                select: function(event, ui) {
        
                    console.log(ui.item);
        
                },
        
                focus: function(event, ui) {
        
                    return false;
        
                    //event.preventDefault();
        
                }
        
            });
        
        });
        
        //]]>
        
        </script>

        <!-- 여기까지 -->
</body>
</html>