<!DOCTYPE html>
<html lang='ko'>
<head>
    {% load staticfiles %}
    <meta charset='utf-8' />

    <link href='{%static "daygrid/main.js"%}' rel='stylesheet' />
    <link href='{%static "core/main.css"%}' rel='stylesheet' />
    <script src='{%static "core/main.js"%}'></script>
    <script src='{%static "daygrid/main.js"%}'></script>

  </head>
  <body>
    <div id='calendar'></div>
    <script>
    document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');

        var calendar = new FullCalendar.Calendar(calendarEl, {
        plugins: [ 'dayGrid' ]
        });

        calendar.render();
      });

    </script>
  </body>
</html>