{%extends 'base.html'%}
{%block content%}

<center style="margin-top:5em">
    <div style="margin-top: 10rem">
        {% if error %}
        {{ error }}<br><br>
        {% endif %}
    </div>

    <form action="{%url 'login'%}" method="post">
        {%csrf_token%}
        <div>
        <br>
        Username <input name="username" type="text" value="">
        <br><br>
        Password <input name="password" type="password" value="">
        <br><br>
        </div>
        <input class="btn btn-primary" type="submit" value="Login">


    </form>

</center>
{%endblock%}
