{% extends 'base.html' %}
{% block content %}

<h1>회원가입</h1>

<body>
    <form action="{%url 'signup'%}" method="POST">
        {%csrf_token%}

        username<br>
        <input type="text" name="username"><br>
        nickname<br>
        <input type="text" name="nickname"><br>
        지역<br>
        <input type="text" name="region"><br>
        PASSWORD<br>
        <input type="password" name="password1"><br>
        PASSWORD 확인<br>
        <input type="password" name="password2"><br>
        <input type="submit" name="회원가입">

    </form>

</body>



{% endblock %}