{%extends 'base.html'%}
{%block content%}

<body>
    <style>
.translucent-form-overlay {
  max-width: 500px;
  width: 100%;
  background-color: rgba(54, 54, 54, 0.8);
  padding: 20px;
  color: #fefefe;
}

.translucent-form-overlay .columns.row {
  display: block;
}

.translucent-form-overlay h3, .translucent-form-overlay label {
  color: #fefefe;
}

.translucent-form-overlay input, .translucent-form-overlay select {
  color: #8a8a8a;
}

.translucent-form-overlay input::-webkit-input-placeholder {
  color: #8a8a8a;
}

.translucent-form-overlay input:-ms-input-placeholder {
  color: #8a8a8a;
}

.translucent-form-overlay input::placeholder {
  color: #8a8a8a;
}
        </style>
    </body>

<div align="center">
<br>
<br>
<br>
<br>
<form action="{%url 'signup'%}" method="POST">
{%csrf_token%}

<div class="translucent-form-overlay">
        <form>
          <h3>건들지ㄴㄴ</h3>
          <br>
          <div class="row columns">
            <label>Username
              <input type="text" name="username" placeholder=" Username" size="30" style="padding: 0.50rem 0.25rem 0.55rem 1rem;>
            </label>
            </div>

          <div class="row columns">
            <label>Nickname
              <input type="text" placeholder=" Nickname" name="nickname" size="30" style="padding: 0.50rem 0.25rem 0.55rem 1rem;>
            </label>
            </div>

          <div class="row columns">
                <label>Password
                  <input type="text" placeholder=" Password" name="password" size="30" style="padding: 0.75rem 1.25rem 0.75rem 2rem;>
                </label>
            </div>

        <div class="row columns">
            <label> ㅤ확인ㅤ
                <input type="text" placeholder=" Confirm Password" name="password2" size="30" style="padding: 0.75rem 1.25rem 0.75rem 2rem;>
            </label>
            </div>
          <input type="submit" value="회원가입">
       </form>
      </div>      
</form>

</div>
{%endblock%}