@font-face {
    font-family: 'LotteMartHappy';
    src: url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartHappy/LotteMartHappyMedium.woff2') format('woff2'), url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartHappy/LotteMartHappyMedium.woff') format('woff');
    font-style: normal;
    font-weight: 400;
}

.logo {
    font-family: 'LotteMartHappy', sans-serif;
}
button,
button::after {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

button {
    background: none;
    border: 3px solid rgb(255, 255, 255);
    border-radius: 5px;
    color: rgba(255, 187, 0, 0.849);
    position: relative;
    text-transform: uppercase;
}

button::before,
button::after {
    background: rgba(255, 187, 0, 0.849);
    content: '';
    position: absolute;
    z-index: -1;
}

button:hover {
    color: #000000;
}

/* BUTTON 1 */
.btn-1::after {
    height: 0;
    left: 0;
    top: 0;
    width: 100%;
}

.btn-1:hover:after {
    height: 100%;
}

a.top {
    position: fixed;
    left: 90%;
    bottom: 50px;
    display: none;
    }