{%extends 'base.html'%}
{%block content%}
{% load staticfiles %}
<div class="mt-5 mb-5">
    <br>
    <div align="center">
        <h3>선택한 영화는</h3>
        {%if watcha_cnt < netflix_cnt%}
        <h2 style="display: inline-block">넷플릭스</h2>
        {%elif  watcha_cnt > netflix_cnt%}
        <h2 style="display: inline-block">왓챠 플레이</h2>
        {%else%}
        <h2 style="display: inline-block">넷플릭스,왓챠 플레이</h2>
        {%endif%}
        <h3 style="display: inline-block">에 더 많아요!</h3>
    </div>
    <br>
    <br>
    <div class="row">
        {%for m in like_movies%}
        <div class="col-sm-12 col-md-4 mb-5">
            <a href="{%url 'detail' m.id%}" class="stretched-link"></a>

            <div class="card ">
                <!-- <div class="card-body p-2" style="height:2.5em;">
                </div> -->
                <div>
                    {%if m.poster%}
                    <img src="{{m.poster}}" class="card-img-top" alt="{{m.name}}">
                    {%elif m.poster == ''%}
                    <img src="{%static 'default_img.jpg'%}" class="card-img-top" alt="{{m.name}}">
                    {%endif%}
                    <div class="p-2 card-body">
                        <div align="center" style="height:2rem;">
                            {%if m.netflix == True%}
                            <img class="mr-3" style="width:2rem;" src="{%static 'icon/netflix.png'%}">
                            {%endif%}
                            {%if m.watcha == True%}
                            <img style="width:2rem;" src="{%static 'icon/watcha.png'%}">
                            {%endif%}
                        </div>
                    </div>
                </div>

            </div>
        </div>
        {%endfor%}
    </div>
</div>
<style>
    .heart {
        color: red;
    }
</style>
<script>
</script>
{%endblock%}