{% extends 'base.html'%}
{% block content%}
{% load staticfiles %}
<div class="row mt-5">
    <div class="col-sm-12 col-md-6" align="right">
        <img class="img-fluid" src="{{movie.poster}}" style="height: 70vh;">
        <br>
        <span style="font-size: 1.5rem;">
            <button class="like-btn" id="{{movie.id}}" onclick="like(this.id)">
                {%if user.is_authenticated%}
                    {%if request.user in movie.like_user_set.all %}
                    <!-- 로그인 한 유저가 좋아요를 누른 유저일때  -->
                    <i id="heart" class="fas fa-heart"></i>
                    {%else%}
                    <!-- 로그인 한 유저가 좋아요를 누른 유저가 아닐 때  -->
                    <i id="heart" class="far fa-heart"></i>
                    {%endif%}
                {%endif%}
            </button>
        </span>
    </div>
    <div class="col-sm-12 col-md-6" align="left">
        <h1>{{movie.name}}({{movie.opening}})</h1>
        <br>
        {%if movie.netflix == True%}
        <img class="mr-3" style="height:2rem; width:2rem;" src="{%static 'icon/netflix.png'%}">
        {%endif%}
        {%if movie.watcha == True%}
        <img style="height:2rem; width:2rem;" class="img-fluid" src="{%static 'icon/watcha.png'%}">
        {%endif%}
        <br><br>
        장르:
        {%if movie.action == True%}
        액션
        {%endif%}
        {%if movie.fantasy == True%}
        판타지
        {%endif%}
        {%if movie.thriller == True%}
        스릴러
        {%endif%}
        {%if movie.comedy == True%}
        코미디
        {%endif%}
        {%if movie.romance == True%}
        로맨스
        {%endif%}
        {%if movie.drama == True%}
        드라마
        {%endif%}
        {%if movie.sf == True%}
        SF
        {%endif%}
        {%if movie.horror == True%}
        공포
        {%endif%}
        {%if movie.animation == True%}
        애니메이션
        {%endif%}
        <br><br>
        <a href="https://www.google.com/search?source=hp&ei=62JFXa-dNJqC-Qa84Jz4DA&q={{movie.name}}&oq={{movie.name}}&gs_l=psy-ab.3..0i131j0l8j0i10.1140.2052..2184...0.0..0.123.791.2j7......0....1..gws-wiz.....0..0i131i10.7aCqYaRefPQ&ved=0ahUKEwjvvq2FwObjAhUaQd4KHTwwB88Q4dUDCAU&uact=5"
            style="color: rgb(75, 75, 75)"><img class="mr-3" style="height:1.7rem; width:1.7rem;"
                src="{%static 'icon/google.png'%}">검색</a>
                <br><br>
        <a href="http://search.naver.com/search.naver?query={{movie.name}}" style="color: rgb(75, 75, 75)"><img class="mr-3" style="height:1.7rem; width:1.7rem;"
            src="{%static 'icon/naver_logo.png'%}">네이버검색</a>
            <br><br>
        <a href="https://play.watcha.net/search?q={{movie.name}}" style="color: rgb(75, 75, 75)"><img class="mr-3" style="height:1.7rem; width:2.2rem;"
            src="{%static 'icon/watchaplay_logo.png'%}">왓챠 플레이 검색</a>
        <br><br>
    </div>
</div>

<style>
    .like-btn {
        background-color: transparent !important;
        border-color: transparent;
        border: 0;
        outline: 0;
    }

    .like-btn:focus {
        outline: 0;
    }

    #heart {
        color: red;
    }
</style>
<script>
    function like(id) {
        $.ajax({
            url: "{%url 'like'%}",
            data: { 'movie_id': id },
            dataType: "json",
            success: function (response) {
                if ($('#heart').attr("class") == "far fa-heart")
                {
                    $('#heart').attr("class", "fas fa-heart")
                }
                else if ($('#heart').attr("class") == "fas fa-heart")
                {
                    $('#heart').attr("class", "far fa-heart")
                }
            }
        })
    } 
</script>
{%endblock%}