{%extends 'base.html'%}
{%block content%}
{% load staticfiles %}

<div style="margin-top:5em" align="center">
    <h1 class="logo" style="font-size: 3.5rem">왓츄원</h1>
    <br>
    <form action="{%url 'search'%}">
        <!-- 원본 -->
        <!-- <div class="input-group mb-3">
            <input type="text" name="search" class="form-control" aria-describedby="button-addon2" autocomplete="off">
            <div class="input-group-append">
                <input type='submit' value="검색" class="btn btn-outline-secondary" type="button" id="button-addon2">
            </div>
        </div> -->

        <!-- 자동완성 여깁터 -->
        <div class="input-group mb-3">
            <input type="text" id="search" name="search" class="form-control" aria-describedby="button-addon2"
                autocomplete="off">
            <div class="input-group-append">
                <input type='submit' value="검색" class="btn btn-outline-secondary" type="button">
            </div>
        </div>
        <!-- 여기까지 -->
    </form>
</div>
<div align="center">
    <!-- <button class="btn-1"><ahref="{%url 'tag'%}" style="text-decoration:none; color:rgb(70, 69, 69);">태그</ahref="{%url></button> -->
    <!-- <button class="btn-1">
            <a href="{%url 'tag'%}" style="text-decoration:none; color:rgb(70, 69, 69);"
                onclick="window.open(this.href, '_blank', 'width=550px,height=200px,top=420,left=400,toolbars=no,scrollbars=no'); return false;">
                분류</a></button> -->
    <button class="btn-1"><a href="{%url 'ranking'%}"
            style="text-decoration:none; color:rgb(70, 69, 69);">인기순위</a></button>
    <!-- <button class="btn-1"><a href="{%url 'detail' 0%}" style="text-decoration:none; color:rgb(70, 69, 69);">랜덤</a></button> -->
    <button class="btn-1" onclick="split()">
        <span style="text-decoration:none; color:rgb(70, 69, 69);">분류</span> </button>
    <button class="btn-1">
        <a href="{%url 'random'%}" style="text-decoration:none; color:rgb(70, 69, 69);"
            onclick="window.open(this.href, '_blank', 'width=800,height=550,top=100,left=300,toolbars=no,scrollbars=no'); return false;">
            랜덤</a></button>

    <div id="split" class="accordian" style="display:none;">
        <form action="{%url 'tag_search' %}">
            <div>
                스트리밍 서비스!
                <div>
                    <input type="checkbox" name="service[]" value="netflix" id="netflix">
                    <label for="netflix">넷플릭스</label>
                    <input type="checkbox" name="service[]" value="watcha" id="watcha">
                    <label for="watcha">왓챠 플레이</label>
                </div>
            </div>
            <div>
                장르
                <div>
                    <input type="radio" name="genre[]" value="action" id="action">
                    <label for="action">액션</label>
                    <input type="radio" name="genre[]" value="fantasy" id="fantasy">
                    <label for="fantasy">판타지</label>
                    <input type="radio" name="genre[]" value="sf" id="sf">
                    <label for="sf">SF</label>
                    <input type="radio" name="genre[]" value="comedy" id="comedy">
                    <label for="comedy">코미디</label>
                    <input type="radio" name="genre[]" value="romance" id="romance">
                    <label for="romance">로맨스</label>
                    <input type="radio" name="genre[]" value="drama" id="drama">
                    <label for="drama">드라마</label>
                    <input type="radio" name="genre[]" value="animation" id="animation">
                    <label for="animation">애니메이션</label>
                    <input type="radio" name="genre[]" value="thriller" id="thriller">
                    <label for="thriller">스릴러</label>
                    <input type="radio" name="genre[]" value="horror" id="horror">
                    <label for="horror">공포</label>
                </div>
            </div>

            <div align="center">
                <input type="submit" value="검색">
            </div>
        </form>
    </div>
    <!-- <input type="radio" name="accordian" id="close_">
            <label for="close_" style="font-size: 1px;" >닫기</label>
            <div></div>
        </div> -->
</div>

<div class="mt-5 mb-5">
    <div class="row">
        {%for m in movies%}
        <div class="col-sm-12 col-md-4 mb-5">
            <div class="card ">
                <div class="card-body p-2" style="height:2.5em;">
                    <button class="like-btn" id="{{m.id}}" onclick="like(this.id)">
                        {%if user.is_authenticated%}
                        {%if request.user in m.like_user_set.all %}
                        <!-- 로그인 한 유저가 좋아요를 누른 유저일때  -->
                        <i id="heart_{{m.id}}" class="fas fa-heart heart"></i>
                        <!-- <i id="hearts_{{m.id}}" class="fas fa-star"></i> -->
                        {%else%}
                        <!-- 로그인 한 유저가 좋아요를 누른 유저가 아닐 때  -->
                        <i id="heart_{{m.id}}" class="far fa-heart heart"></i>
                        <!-- <i id="heart_{{m.id}}" class="far fa-star" style="color: rgb(253, 207, 0);"></i> -->
                        {%endif%}
                        {%endif%}
                    </button>
                </div>
                <div style="transform: rotate(0);">
                    <a href="{%url 'detail' m.id%}" class="stretched-link">
                        {%if m.poster%}
                        <img src="{{m.poster}}" class="card-img-top" alt="{{m.name}}">
                        {%elif m.poster == ''%}
                        <img src="{%static 'default_img.jpg'%}" class="card-img-top" alt="{{m.name}}">
                        {%endif%}
                    </a>
                    <div class="p-2 card-body">
                        <div align="center" style="height:2rem;">
                            {%if m.netflix == True%}
                            <img class="mr-3" style="width:2rem;" src="{%static 'icon/netflix.png'%}">
                            {%endif%}
                            {%if m.watcha == True%}
                            <img style="width:2rem;" src="{%static 'icon/watcha.png'%}">
                            {%endif%}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {%endfor%}
    </div>
    <div class="row" id="ajax_post">
        <input type="hidden" id="page" value="2">
    </div>
</div>
</div>

<script>
    function split() {
        if ($('#split').css("display") == "none") {
            $('#split').show()
        }
        else {
            $('#split').hide()
        }
    }
</script>
<script>
    var last_page_num = {{ last_page }};
    $(window).scroll(function () {
        var scrollHeight;
        var documentHeight;
        var page;
        scrollHeight = $(window).scrollTop() + $(window).height();
        documentHeight = $(document).height();
        if (scrollHeight + 300 >= documentHeight) {
            page = $('#page').val();
            if (page > last_page_num) {
            }
            else {
                $.ajax({
                    async: false,
                    url: "{%url 'index'%}",
                    data: {
                        'page': page
                    },
                    dataType: "html",
                    success: function (response) {
                        $('#ajax_post').append(response);
                    }
                })
                $('#page').val(parseInt(page) + 1);
            }

        }
    });
</script>

<script>
    function like(id) {
        console.log($('#heart_' + id).attr("class"));
        $.ajax({
            url: "{%url 'like'%}",
            data: { 'movie_id': id },
            dataType: "json",
            success: function (response) {
                if ($('#heart_' + id).attr("class") == "far fa-heart heart") {
                    $('#heart_' + id).attr("class", "fas fa-heart heart")
                }
                else if ($('#heart_' + id).attr("class") == "fas fa-heart heart") {
                    $('#heart_' + id).attr("class", "far fa-heart heart")
                }
            }
        })
    } 
</script>

<script type="text/javascript">
    $(function () {
        var availablemovie = new Array();
        {%for m in movie %}
        availablemovie.push("{{m.name}}");
        {% endfor %}
        $("#search").autocomplete({
            source: availablemovie,
            select: function (event, ui) {
            },
            focus: function (event, ui) {
                return false;
            }
        });
    });
</script>
<style>
        .btn-1:focus{
            outline: 0;
        }
</style>
{%endblock%}